1. prm to find mid value

In [2]:
def find_mid(x,y,z):
  values=[x,y,z]
  values.sort()
  return values[1]
ans=find_mid(32,15,78)
print("The mid valueis",ans)

The mid valueis 32

2.simple calculator

In [4]:

def add(x,y):
  return x+y
def sub(x,y):
  return x-y
def mul(x,y):
  return x*y
def div(x,y):
  return x/y
a=int(input("enter first no"))
b=int(input("enter second no"))
op=input("enter the operator symbol +,- *,/")
if op=='+':
  ans=add(a,b)
elif op=='-':
  ans=sub(a,b)
elif op=='*':
  ans=mul(a,b)
elif op=='/':
  ans=div(a,b)
else:
  ans="Invalid Operator"
print(f"The result is {ans}")

enter first no356
enter second no2
enter the operator symbol +,- *,/-
The result is 354

3. Area of a triangle

In [7]:
def cal_hypotenuse(a,b):
  hypotenuse=(a**2 + b**2)**0.5
  return hypotenuse

a=int(input("enter first no"))
b=int(input("enter second no"))
ans= cal_hypotenuse(a,b)
print(f"The result is {ans}")

enter first no40
enter second no40
The result is 56.568542494923804

[link text](https://)