1. Sum of all elements in the list

In [ ]:
num=[12,32,43,5,76,22]
print(sum(num))

190

2. Print length and half length of a string

In [ ]:
str1="Python Programming"
L=len(str1)
print(f"The length of the string {str1} is ",L)
print(f"The half length of the string is ",str1[:L//2])

The length of the string Python Programming is  18
The half length of the string is  Python Pr

3. To change the third value in a tuple

In [ ]:
values=(78,45,32,19,82,77,40,39)
x=list(values)
x[2]=100
values=tuple(x)
print(values)

(78, 45, 100, 19, 82, 77, 40, 39)


4. Consider a list a=[19,32,10,55,31,32,94,29,10,65,77,40,40]
a.delete the first occurrence of 40

In [ ]:
a=[19,32,10,55,31,32,94,29,10,65,77,40,40]
a.remove(32)
print(a)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

b. Delete all occurrence of 40

In [ ]:
a=[19,32,10,55,31,32,94,29,10,65,77,40,40]
a=list(filter((40).__ne__,a))
print(a)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77]

c. delete the value at index5

In [ ]:
a=[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77]

del(a[5])
print(f"the new list is {a}")

the new list is [19, 32, 10, 55, 31, 94, 29, 10, 65, 77]

d. Mdify the value at index 9v as 300

In [ ]:
a=[19, 32, 10, 55, 31, 94, 29, 10, 65, 77]

a[9]=300
print(a)

[19, 32, 10, 55, 31, 94, 29, 10, 65, 300]

e. add 200 at index 2

In [ ]:
a=[19, 32, 10, 55, 31, 94, 29, 10, 65, 300]
a[2]=a[2]+200
print(a)

[19, 32, 210, 55, 31, 94, 29, 10, 65, 300]

f. print final list with its length,maximum value ,sum of all elements

In [ ]:
a=[19, 32, 10, 55, 31, 94, 29, 10, 65, 300]
print(f"The final list is {a} with maximum length is {len(a)} ")
print(f'the maximun value in a is {max(a)}')
print(f'the sum of a is {sum(a)}')

The final list is [19, 32, 10, 55, 31, 94, 29, 10, 65, 300] with maximum length is 10
the maximun value in a is 300
the sum of a is 645

5. Consider the string "The day has been long", delete the value at index 4

In [4]:
s1="The day has been long"
new_s1=s1[:4]+s1[5:]
print(new_s1)

The ay has been long

b.Print the string 4 timesin a single line with space

In [19]:
print('The day has been long ' *4)

The day has been long The day has been long The day has been long The day has been long

c.print the string 3btimes in a new line

In [20]:
print('The day has been long \n' *4)

The day has been long
The day has been long
The day has been long
The day has been long

d.Modify the string at index 7 as 'A'

In [13]:
s1="The day has been long"
#x=7
r="A"
new_s1= s1[:6] + r + s1[7:]
print(new_s1)

The daA has been long

e. Print he string from index 4 to15

In [15]:
s1="The day has been long"
print(s1[4:16])

day has been

f. Print the final string with its length

In [29]:
s1="day has been"
print(s1)
print(f"the length of the string is {len(s1)}")

day has been
the length of the string is 12